<html ng-app="myjj">
<head>
 	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-controller="control" >
<center>

<h1>Register Account</h1>

<section>
First Name <input type="text" ng-model="fName">
<br>
<br>
Last Name  <input type="text" ng-model="lName">
<br>
<br>
Gender     <input type="text" ng-model="gen">
<br>
<br>
Birth Date <input type="text" ng-model="date">
<br>
<br>
<button ng-click="put()">Okay</button>
<section>




<div ng-repeat="data in dbdata">
  {{ FirstName +" "+ LastName + " "+ Gender +" "+ DateOfBirth}}
</div>

<footer>CKC 2016-2017</footer>



<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>